.colo{
    margin: 35px;
    /*background-color: white;
    color: rgb(244, 244, 247);
     background-color: blue; */
} 

.back {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 12%;
}
.titulo {
    padding: 15px;
}