.tamaño {
   width: 50%;
   margin: auto;
   margin-top: 20px;
   padding: 15px;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

.text {
   color: red;
}

@media screen and (max-width:400px) {
   .tamaño {
      width: 90%;
   }

}