/* ul {
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 1s;
    font-weight: bold;
}

a:hover{
transform: scale(1.1);
}
 */
.nav{
    background-color: blueviolet;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.521);

}

h1 {
    font-size: 25px;
    background-color: rgba(255, 0, 221, 0.774);
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

.auto {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    text-align: center;
    color: azure;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
}

.img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: block;
    
}

@media screen and (max-width:700px){
    .auto {
        font-size: 1rem;
    }
    .navbar-expand .navbar-nav {
         flex-direction: column; 
    }
    
}

  /* Ajusta el tamaño del logo para pantallas más pequeñas si lo necesitas */
  @media screen and (max-width: 400px) {
    .img{
      display: none; /* Por ejemplo, ajusta el ancho del logo para pantallas más pequeñas */
    }
    .auto {
        font-size: 12px;
    }
  }